test
docs
.github
.babelrc
.editorconfig
.env.jest
.eslintignore
.eslintrc.js
.gitignore
.nvmrc
.npmrc
jest.config.js
jsconfig.json
jsdoc.json
dist/*.ts
dist/*.js.map
webpack.config.js
rollup.config.js
tsconfig.json
